/* <!--Google Fonts CSS rules
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Ubuntu', sans-serif;--!> */

  body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #40514E;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
  }
  h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
  }
  
  h2 {
    font-weight: normal;
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  
  p {
    color: #8f8f8f;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
  }
  
    /* Anchors */
  a {
    color: #000000;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }

  a:hover {
    color: darkslategray;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }

  /* Navigation Bar*/ 
  
  .navbar {
    padding: 0 0 1rem;
  }
  
  .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
    margin:20px 40px;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }



    /* Buttons */
    .BUTTON_LIY {
      background: darkslategray;
      background-image: -webkit-linear-gradient(top, darkslategray, black);
      background-image: -moz-linear-gradient(top, darkslategray, black);
      background-image: -ms-linear-gradient(top, darkslategray, black);
      background-image: -o-linear-gradient(top, darkslategray, black);
      background-image: -webkit-gradient(to bottom, darkslategray, black);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 100;
      padding: 40px;
      -webkit-box-shadow: 1px 1px 20px 0 #000000;
      -moz-box-shadow: 1px 1px 20px 0 #000000;
      box-shadow: 1px 1px 20px 0 #000000;
      text-shadow: 1px 1px 20px #000000;
      border: solid black 1px;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      margin: 50px auto auto auto;
   }
   
   .BUTTON_LIY:hover {
      border: solid darkslategray 1px;
      background: black;
      background-image: -webkit-linear-gradient(top, black, darkslategray);
      background-image: -moz-linear-gradient(top, black, darkslategray);
      background-image: -ms-linear-gradient(top, black, darkslategray);
      background-image: -o-linear-gradient(top, black, darkslategray);
      background-image: -webkit-gradient(top bottom, black, darkslategray);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-decoration: none;
   }
   
    .btn-dl {
      margin: 2%;
    }
    
  /* Icons */
  .icon-clr {
    color: darkslategray;
    margin-bottom: 1rem;
  }
  
  .icon-clr:hover {
    color:black;
    margin-bottom: 1rem;
  }

  /* Headings*/ 
  
  .big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
  }


/* Containers*/ 
  
.container-fluid{
  padding: 7% 15%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid-nav{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 2%;
}

.top-container {
  background-color: white;
  font-family: 'Roboto Mono', monospace;
  position: relative;
}

.middle-container {
  padding: 10px 0 10px 0;
  font-family: 'Roboto', sans-serif;
}

.bottom-container {
  background-color: White;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
}

/* Sections*/ 
.white-section {
  background-color: white;
}

.colored-section {
  background-color: #b4b3b3;
  color: #fff;
}
  
  


/* Title */
  
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  position: relative;
}

.feat-text {
  font-weight: 700;
  font-size: 1.5rem;
}

.col-pad {
  padding: 1.5rem;
}

/* testimonials */
#testimonials {
  background-color: darkslategray;
}

.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* Press */
#press {
  background-color: darkslategray;
  padding-bottom: 3%;
}

.press-logo {
  margin:20px 20px 50px;
  width: 15%;
}


/* Carousel */


/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.pricing-col {
  padding: 3% 2%;
}

/* CTA */


/* Footer */
#footer {
background-color: #fff;
text-align: center;
}

.footer-icon-margin {
  margin: 20px 10px;
}



  
  .pro {
    text-decoration: underline;
  }
  
  .intro {
    width: 50%;
    margin: auto;
  }
  
  .top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
  }
  
  .bottom-cloud {
    position: absolute;
    left: 300px;
    top: 400px;
  }
  
  .profile {
    padding: 10px;
  }
  
  .contact-me {
    font-family: 'Roboto', sans-serif;
    padding: 75px;
  }
  .skill-row {
    margin: 50px auto 50px auto;
    text-align: left;
    width: 50%;
  }
  
  .technical-skills-img {
    padding: 20px;
    float: left;
  }
  
  .soft-skills-img {
    padding: 20px;
    float: right;
  }
  
  .rachel-img {
    width: 30%;
    align-content: center;
    margin: 1rem 1rem;
  }
  
  .hr-5dots {
    border: dotted lightgrey 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto 50px auto;
  }
  
  .footer-link {
    padding: 20px;
  }
  
  .copyright{
    color: #EAF6F6;
    margin: 10px auto;
    font-size: 0.75rem;
    padding: 10px;
  }

  .typedfont{
    font-family: 'Roboto Mono', monospace;
  }
  

  /* ----------Additional TD css-----------------*/ 
  
  
  
  /* Media Queries */
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
  
  .container-fluid-nav{
  
    width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 2%;
  }

  .navbar-brand {
    margin:0;
  }

  .footer-icon-margin {
    margin: 2px 4px 2px;
  }

}
  
  
  
  

  
  
  
  